* {
  box-sizing: border-box;
}

.trio-column {
  flex: 33.33%;
  padding: 5px;
}


.trio-row{
display: flex;
}

.trio-centered {
  position: absolute;
  top: 40%;
  left: 100%;
  font-size:25px;
  color:white;
  padding: 10px 10px;
  font-family:Arial;
  background-color: #ff3385;
  transform: translate(-50%, -50%);
}

.trio-centered2 {
  position: absolute;
  top: 55%;
  left: 100%;
  font-size:25px;
  color:black;
  font-weight: bold;
  padding: 10px 10px;
  font-family:Arial;
  background-color:none;
  transform: translate(-50%, -50%);
}


.trio-container {
  position: relative;
  width: 50%;
  max-width: 300px;
}

.trio-image {
  display: block;
    width: 100%;
    height: auto;
    opacity: 0.9;
}

.trio-overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 200%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.trio-container:hover .trio-overlay {
  opacity: 1;
}

@media screen and (max-width: 600px) {
  .trio-column {
    flex: 50%;
    padding: 5px;
  }


  .trio-row{
  display: block;
  }

  .trio-centered {
    position: absolute;
    top: 40%;
    left: 100%;
    font-size:20px;
    color:white;
    padding: 10px 10px;
    font-family:Arial;
    background-color: #ff3385;
    transform: translate(-50%, -50%);
  }

  .trio-centered2 {
    position: absolute;
    top: 55%;
    left: 100%;
    font-size:21px;
    color:black;
    font-weight: bold;
    padding: 10px 10px;
    font-family:Arial;
    background-color:none;
    transform: translate(-50%, -50%);
  }


  .trio-container {
    position: relative;
    width: 50%;
    max-width: 300px;
  }

  .trio-image {
    display: block;
      width: 100%;
      height: auto;
      opacity: 0.9;
  }

  .trio-overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 200%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }

  .trio-container:hover .trio-overlay {
    opacity: 1;
  }


}
